<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="card" style="background-color:#191c24">
    <div class="card-body">
        <h4 class="card-title">Display booking status..</h4>
<div class="table-responsive">
                      <table class="table table-bordered">
                        <thead>
                          <tr>
                            <th> name </th>
                            <th> phone number </th>
                            <th> Email </th>
                            <th> Departments</th>
                            <th> Time</th>
                              <th>Date</th>
                          </tr>
                        </thead>
                        <tbody>
                        {% for d in data %}
                        <tr >
                            <td>{{ d.Name}}</td>
                            <td>{{ d.Phonenumber}}</td>
                            <td>{{ d.Emailadress}}</td>
                            <td>{{ d.Departmentdb}}</td>
                             <td>{{ d.Time}}</td>
                             <td>{{ d.Date}}</td>

                            <td>
                                <form action="{% url 'Deletebook' dataid=d.id %}">
                                    <button type="submit" class="btn btn-success">Delete</button>
                                </form>
                            </td>
                         </tr>
                        {% endfor %}
                        </tbody>
                      </table>
                    </div>

            </body>
</html>
{% endblock %}