!DOCTYPE html>
{% extends 'index.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="card" style="background-color:#191c24">
    <div class="card-body">
        <h4 class="card-title">Display messages</h4>
<div class="table-responsive">
                      <table class="table table-bordered">
                        <thead>
                          <tr>
                            <th> name </th>
                            <th> email </th>
                            <th> subject </th>
                            <th> messege</th>
                          </tr>
                        </thead>
                        <tbody>
                        {% for d in data %}
                        <tr >
                            <td>{{ d.NAME}}</td>
                            <td>{{ d.EMAIL}}</td>
                            <td>{{ d.SUBJECT}}</td>
                            <td>{{ d.MESSAGE}}</td>

                            <td>
                                <form action="{% url 'Deletemsg' dataid=d.id %}">
                                    <button type="submit" class="btn btn-success">Delete</button>
                                </form>
                            </td>
                         </tr>
                        {% endfor %}
                        </tbody>
                      </table>
                    </div>

        </body>
</html>
{% endblock %}