<!DOCTYPE html>
{% extends 'index.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<center><h1>MEDIA CARE</h1></center>
<div class="card" style="background-color:#191c24">
                  <div class="card-body">
                    <h4 class="card-title">Edit doctor deatiles</h4>
                      <br>
<!--                    <p class="card-description"> Basic form elements </p>-->
                     <form class="forms-sample" method="post" action="{% url 'updatedoctor' dataid=data.id %}" class="forms-sample" enctype="multipart/form-data"
                      method="post">
                      {% csrf_token %}
                       <div class="form-group">
                        <label for="exampleSelectcategory">department</label>
                        <select class="form-control" id="exampleSelectcategory" name="depart" value="{{data.Department}}">
                          <option>Select</option>
                            {% for d in da %}
                           <option>{{d.Name}}</option>
                            {% endfor %}

                        </select>
                      </div>
                         <div class="form-group">
                        <label for="exampleInputName1">Doctor name</label>
                        <input type="text" class="form-control" id="exampleInputName1" placeholder="Name" name="name" value="{{data.Name}}">
                      </div>
                       <div class="form-group">
                        <label for="exampleInputdescription">Description</label>
                        <input type="text" class="form-control" id="exampleInputdescription" placeholder="Description" name="desc" value="{{data.Desc}}">
                      </div>
                         <br>
                    <div class="form-group">
                        <label for="exampleInputprice">Consultation fee</label>
                        <input type="text" class="form-control" id="exampleInputprice" placeholder="price" name="price"  value="{{data.price}}">
                      </div>
                         <br>
                          <div class="form-group">
                        <label for="exampleInputusername">User Name</label>
                        <input type="password" class="form-control" id="exampleInputusername" placeholder="username" name="username">
                      </div>
                           <div class="form-group">
                        <label for="exampleInputPassword4">Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword4" placeholder="Password"name="password">
                      </div>
<!--                       <div class="form-group">-->
<!--                        <label for="exampleInputquantity">Quantity</label>-->
<!--                        <input type="text" class="form-control" id="exampleInputquantity" placeholder="quantity" name="quantity" value="{{data.Quantity}}">-->
<!--                      </div>-->
                     <div>
                        <label>IMAGE </label>
                          <img src="{{data.Image.url}}" width="200px" height="200px">
                        <input type="file" name="image">
<!--                        <input type="file" name="image">-->
                      </div>
                         <br>


                      <button type="submit" class="btn btn-primary mr-2">Submit</button>
                      <button class="btn btn-dark">Cancel</button>
                    </form>
                  </div>
                </div>
</body>
</html>
{% endblock %}